<div class="d-flex flex-column justify-content-center align-items-center p-3">
  <div style="font-weight: 700; font-size: 12px">
    High Price: <span class="lightweight">{{ localData.h }}</span>
  </div>
  <div style="font-weight: 700; font-size: 12px">
    Low Price: <span class="lightweight">{{ localData.l }}</span>
  </div>
  <div style="font-weight: 700; font-size: 12px">
    Open Price: <span class="lightweight">{{ localData.o }}</span>
  </div>
  <div style="font-weight: 700; font-size: 12px">
    Prev. Close: <span class="lightweight">{{ localData.pc }}</span>
  </div>
</div>
