<button type="button" class="btn btn-success m-1" (click)="open(content)">
  Buy
</button>
<button
  type="button"
  class="btn btn-danger m-1"
  [(didBuy)]="didBuy"
  *ngIf="didBuy"
  (click)="open(content2)"
>
  Sell
</button>

<ng-template #content let-modal>
  <div class="modal-header d-flex flex-column">
    <div
      class="modal-body head col d-flex flex-row justify-content-center align-items-center"
    >
      <p class="h6">{{ localData.ticker }}</p>
      <button
        type="button"
        class="close d-flex align-self-start"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true align-self-flex-start">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <p>Current Price: {{ localData.c }}</p>
    <p>
      Money in Wallet:
      {{ walletMoney }}
    </p>
    <p>
      Quantity
      <span
        ><input type="number" min="0" name="quantity" [(ngModel)]="quantity"
      /></span>
    </p>
    <p
      class="m-1"
      style="color: red"
      *ngIf="quantity * localData.c > walletMoney"
    >
      Not enough money in wallet!
    </p>
  </div>
  <div class="modal-footer d-flex flex-row flex-nowrap">
    <div class="col-6">Total: {{ quantity * localData.c }}</div>
    <div class="col-6" style="text-align: right">
      <button
        type="button"
        class="btn btn-success m-1"
        [disabled]="quantity == 0 || quantity * localData.c > walletMoney"
        (click)="buyStocks(localData.ticker)"
      >
        Buy
      </button>
    </div>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header d-flex flex-column">
    <div
      class="modal-body head col d-flex flex-row justify-content-center align-items-center"
    >
      <p class="h6">{{ localData.ticker }}</p>
      <button
        type="button"
        class="close d-flex align-self-start"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true align-self-flex-start">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <p>Current Price: {{ localData.c }}</p>
    <p>
      Money in Wallet:
      {{ walletMoney }}
    </p>
    <p>
      Quantity
      <span
        ><input
          type="number"
          min="0"
          name="sellQuantity"
          [(ngModel)]="sellQuantity"
      /></span>
    </p>
    <p class="m-1" style="color: red" *ngIf="sellQuantity > quantityToSell">
      You cannot sell the stocks that you don't have!
    </p>
  </div>
  <div class="modal-footer d-flex flex-row flex-nowrap">
    <div class="col-6">Total: {{ sellQuantity * localData.c }}</div>
    <div class="col-6" style="text-align: right">
      <button
        type="button"
        class="btn btn-success m-1"
        [disabled]="sellQuantity > quantityToSell"
        (click)="sellStocks(localData.ticker)"
      >
        Sell
      </button>
    </div>
  </div>
</ng-template>
