<div class="container justify-content-center">
  <ngb-alert
    #selfClosingAlert
    *ngIf="successMessage !== ''"
    type="success"
    (closed)="successMessage = ''"
    style="text-align: center"
    >{{ successMessage }}
  </ngb-alert>
  <div class="row justify-content-between">
    <app-descript-left class="col-4"></app-descript-left>
    <app-descript-middle class="col-4"></app-descript-middle>
    <app-descript-right class="col-4"></app-descript-right>
  </div>
</div>
<div class="container tabs justify-content-center align-items-center">
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab label="Summary">
      <app-summary></app-summary>
    </mat-tab>
    <mat-tab label="Top News">
      <app-topnews></app-topnews>
    </mat-tab>
    <mat-tab label="Charts">
      <app-charts></app-charts>
    </mat-tab>
    <mat-tab label="Insights">
      <app-insights></app-insights>
    </mat-tab>
  </mat-tab-group>
</div>
