<div class="special">
  <div class="container watchlist h-100">
    <div class="h1 pt-5 pb-5 d-flex">My Portfolio</div>
    <div class="h3 pb-5">Money in Wallet: ${{ walletMoney }}</div>
    <p class="container-fluid">
      <ngb-alert
        *ngIf="portfolio.length === 0"
        [dismissible]="false"
        class="d-flex justify-content-center"
      >
        Currently you don't have any stock.
      </ngb-alert>
    </p>
    <div *ngFor="let item of portfolio | keyvalue" class="container-fluid p-2">
      <div class="card">
        <div class="card-header">
          <span style="font-weight: 700" class="pr-1">{{ item.key }}</span>
          <span class="text-secondary">{{
            localDataStream[item.key].name
          }}</span>
        </div>
        <div class="card-body d-flex flex-row flex-nowrap">
          <div class="col-6">
            <div class="d-flex flex-row flex-nowrap">
              <span>Quantity:</span>
              <div class="w-100" style="text-align: right">
                {{ item.value["quantityOwned"] }}
              </div>
            </div>
            <div class="d-flex flex-row flex-nowrap">
              <span class="w-100">Avg. Cost / Share:</span>
              <div class="w-100" style="text-align: right">
                {{ item.value["totalCost"] / item.value["quantityOwned"] }}
              </div>
            </div>
            <div class="d-flex flex-row flex-nowrap">
              <span class="w-100">Total Cost:</span>
              <div class="w-100" style="text-align: right">
                {{ item.value["totalCost"] }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-row flex-nowrap">
              <span>Change:</span>
              <div
                class="w-100"
                style="text-align: right"
                [ngStyle]="{
                  color:
                    localDataStream[item.key].d > 0
                      ? 'green'
                      : localDataStream[item.key].d < 0
                      ? 'red'
                      : 'black'
                }"
              >
                <i
                  *ngIf="localDataStream[item.key].d > 0"
                  class="bi bi-caret-up-fill"
                ></i>
                <i
                  *ngIf="localDataStream[item.key].d < 0"
                  class="bi bi-caret-down-fill"
                ></i>
                {{ localDataStream[item.key].d }}
              </div>
            </div>
            <div class="d-flex flex-row flex-nowrap">
              <span class="w-100">Current Price:</span>
              <div
                class="w-100"
                style="text-align: right"
                [ngStyle]="{
                  color:
                    localDataStream[item.key].d > 0
                      ? 'green'
                      : localDataStream[item.key].d < 0
                      ? 'red'
                      : 'black'
                }"
              >
                {{ localDataStream[item.key].c }}
              </div>
            </div>
            <div class="d-flex flex-row flex-nowrap">
              <span class="w-100">Market Value:</span>
              <div
                class="w-100"
                style="text-align: right"
                [ngStyle]="{
                  color:
                    localDataStream[item.key].d > 0
                      ? 'green'
                      : localDataStream[item.key].d < 0
                      ? 'red'
                      : 'black'
                }"
              >
                {{ localDataStream[item.key].c * item.value["quantityOwned"] }}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer" style="text-align: right">
          <app-buysell></app-buysell>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="spinner d-flex justify-content-center align-items-center">
  <div class="spinner-border text-primary" role="status"></div>
</div> -->
