body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 1239px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100px;
}

.navbar .main-events {
  padding: 10px;
  padding-left: 100px;
}

.navbar .links {
  /* border: 2px solid black; */
  margin-right: 20px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}
.navbar a {
  font-size: 15px;
  padding: 25px;
}
.navbar ul {
  list-style-type: none;
  /* margin-left: auto; separates the left and the right children */
  text-align: center;
}
.navbar li {
  padding: 5px;
  display: inline;
}

.top {
  margin-top: 100px;
  padding: 0;
  height: 1050px;
  width: 1239px;
  background-image: url("images/image3.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  width: 400px;
  font-size: 50px;
  text-align: center;
}

.services {
  /* border: 2px solid black; */
  height: 700px;
  width: 1239px;
  display: flex;
  padding: 30px;
  align-items: center;
  /* margin-left: auto; to align one set of flex elements to the right */
}
.discover {
  /* border: 2px solid black; */
  margin: 30px;
  height: 500px;
  width: 320px;
  background-image: url("images/flower.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  position: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}
.discover .text1wrapper {
  height: 125px;
  width: 320px;
  position: relative;
}
.text1wrapper .text1 {
  width: 320px;
  position: absolute;
  text-align: center;
  bottom: 0;
  color: white;
  font-size: 30px;
}
.discover .dummywrapper {
  height: 125px;
  width: 320px;
}
.discover .text2wrapper {
  height: 125px;
  width: 320px;
  position: relative;
}
.text2wrapper .text2 {
  /* border: 2px solid black; */
  position: absolute;
  text-align: center;
  top: 0;
  color: white;
  font-size: 20px;
  width: 320px;
}
.discover .text3wrapper {
  height: 125px;
  width: 320px;
  position: relative;
  text-align: center;
}
.text3wrapper .text3 {
  position: absolute;
  text-align: center;
  width: 320px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
}
.text3 .box {
  border: 1px solid white;
  width: 200px;
  height: 20px;
  text-align: center;
  padding: 10px;
}

.middle {
  /* border: 2px solid black; */
  margin: 80px;
  height: 500px;
  width: 700px;
  background-image: url("images/image1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial {
  /* border: 2px solid black; */
  width: 1238px;
  height: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.testimonial .leftArrow {
  /* border: 2px solid black; */
  margin-right: auto;
  font-size: 50px;
  padding: 30px;
}

.testimonial .textbox {
  /* border: 2px solid green; */
  display: flex;
  flex-flow: column nowrap;
  padding: 40px;
}

.testimonial .textbox .quotes {
  font-size: 100px;
  text-align: center;
  /* border: 2px solid black; */
  /* align-self: flex-start; */
}
.testimonial .textbox .text {
  font-size: 50px;
  margin: 2px;
  /* border: 2px solid black; */
  text-align: center;
}
.testimonial .textbox .byLine {
  font-size: 15px;
  text-align: center;
  /* border: 2px solid black; */
  padding-top: 50px;
  /* align-self:flex-end */
}
.testimonial .rightArrow {
  /* border: 2px solid black; */
  margin-left: auto;
  font-size: 50px;
  padding: 30px;
}

.gallery-cover {
  /* border: 2px solid green; */
  height: 605px;
  width: 1239px;
}
.gallery {
  /* border: 2px solid black; */
  height: 690px;
  background-image: url("images/image2.png");
  width: 1126px;
  display: flex;
  padding: 0px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin-left: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* margin-left: auto; to align one set of flex elements to the right */
}

.second {
  /* border: 2px solid black; */
  margin-right: 50px;
}

.footer-wrapper {
  margin-top: 100px;
  /* border: 2px solid black; */
  height: 300px;
  width: 1236px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

.footer {
  width: 1126px;
  height: 200px;
  background-color: rgb(170, 149, 92);
  /* border: 2px solid green; */
  display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.leftfooter{
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
}
.address{
    /* border: 2px solid black; */
    padding-right: 16px;
    text-align: left;
}

.contact{
    padding-left: 16px;
    padding-right: 16px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: left;
}
.copyright {
    padding-left: 16px;
    /* border : 2px solid black; */
    text-align: left;
}
.consult {
    border: 1px solid white;
    padding: 12px;
    width: 180px;
    height: 20px;
}