body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: teal;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 1239px;
}

.navbar a {
  font-size: 20px;
}
.navbar ul {
  list-style-type: none;
}
.navbar li {
  padding: 20px;
  display: inline;
}

.top {
  margin: 0;
  padding: 0;
  height: 1050px;
  width: 1239px;
  background-image: url("images/image3.png");
  background-repeat: no-repeat;
}
