.card-button {
  display: block !important;
  height: 100px !important;
  background: none !important;
  color: inherit !important;
  border: none !important;
  padding: 0 !important;
  cursor: pointer !important;
  outline: none !important;
  width: 100% !important;
  margin: 5px !important;
}
img {
  display: block !important;
  width: 100px !important;
  height: 100px !important;
  padding: 10px !important;
}

.card-body {
  box-sizing: border-box !important;
}

.card-text {
  text-align: left !important;
}

.source {
  font-size: 25px !important;
  font-weight: 700 !important;
}

.head {
  box-sizing: border-box !important;
  padding: 0 !important;
}
.twitter {
  padding: 5px !important;
  font-size: 40px !important;
  color: rgba(29 161 242) !important;
  margin-left: 10px !important;
  cursor: pointer;
}

.facebook {
  padding: 5px !important;
  font-size: 40px !important;
  color: blue !important;
  cursor: pointer;
}
