.search-container {
  border-radius: 40px !important;
  width: 25%;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border: 3px solid var(--primary-color) !important;
  box-sizing: border-box;
  margin-top: 2rem !important;
  flex-wrap: nowrap !important;
}
.inputter {
  /* border: 2px solid black !important; */
  border-radius: 40px !important;
  width: 75% !important;
  height: 2rem !important;
  outline: none !important;
  align-self: flex-start !important;
  margin-left: 1rem !important;
  flex-shrink: 0 !important;
}
.searcher {
  /* border: 2px solid black !important; */
  color: var(--primary-color) !important;
  align-self: center;
  margin-left: 8px !important;
  flex-shrink: 0 !important;
}

.x {
  /* border: 2px solid black !important; */
  color: var(--primary-color) !important;
  align-self: center;
  margin-left: 10px !important;
  flex-shrink: 0 !important;
}

form {
  width: 90% !important;
  display: relative !important;
}

button {
  outline: none;
  background: none;
  border: none;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 5rem;
  align-self: center;
  width: 1000px;
}
