<div
  class="d-flex flex-column justify-content-around align-items-center w-100 p-5"
>
  <h1 class="font-weight-bold pt-5">STOCK SEARCH</h1>
  <div class="search-container">
    <form (ngSubmit)="onSubmit()">
      <input
        class="inputter border-0"
        type="text"
        name="ticker"
        [(ngModel)]="ticker"
        [matAutocomplete]="auto"
        (input)="searchThis()"
        placeholder="Enter stock ticker symbol"
      /><button
        type="button"
        class="searcher bi bi-search"
        style="font-size: 16px"
      ></button
      ><button type="button" class="x bi bi-x" style="font-size: 20px"></button>
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="($event.option.value)"
      >
        <mat-option *ngIf="isLoading">
          <mat-spinner diameter="20"></mat-spinner
        ></mat-option>
        <mat-option
          *ngFor="let item of options"
          [value]="item"
          (click)="setTicker()"
        >
          {{ item }}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>
