<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="row">
    <div class="image-descript">
      <img src="{{ localData.logo }}" />
    </div>
  </div>
  <div
    *ngIf="this.isClosed == true"
    class="market pl-2 justify-content-center align-items-center text-danger"
  >
    Market closed on {{ localData.t }}
  </div>
  <div
    *ngIf="!this.isClosed"
    class="market pl-2 justify-content-center align-items-center text-success"
  >
    Market is open
  </div>
</div>
