<div class="d-flex flex-column justify-content-center align-items-center p-3">
  <div class="row h6">
    <a class="link" target="_blank" (click)="clickIt()">About the company</a>
  </div>
  <div
    class="container-fluid flex-column justify-content-start align-items-flex-start"
  >
    <div style="font-weight: 700; font-size: 12px">
      IPO Start Date: <span class="lightweight">{{ localData.ipo }}</span>
    </div>
    <div style="font-weight: 700; font-size: 12px">
      Industry: <span class="lightweight">{{ localData.finnhubIndustry }}</span>
    </div>
    <div style="font-weight: 700; font-size: 12px">
      Webpage:
      <a
        target="_blank"
        (click)="clickIt()"
        class="lightweight text-primary peerlink"
        >{{ localData.weburl }}</a
      >
    </div>
    <div style="font-weight: 700; font-size: 12px">
      Company peers:
      <div class="lightweight">
        <a
          *ngFor="let ticker of localData.response"
          class="lightweight"
          target="_blank"
          style="cursor: pointer"
          (click)="peerClick(ticker)"
          >{{ ticker }},
        </a>
      </div>
    </div>
  </div>
</div>
